<div class="container_24">
    <div class="grid_24" id="dashboardMenuRegion">
    </div>
    </br></br></br></br>
    <div class="clear"/>
    <div class="grid_10" id="notesListRegion">
        Your Notes
    </div>
    <div class="clear"/>
    </br></br>    </br></br>
    <div class="grid_10" id="activityFeedRegion">
        Activity Feed
    </div>
    <div class="clear"/>
</div>

