<html>
<head>
<script data-main="/static/django_backbone_basic/js/main" src="/static/js/libs/require/require.js"></script>
<!-- 960 css -->
<link type="text/css" href="/static/css/960css/code/css/960_24_col.css" rel="stylesheet" />
<link type="text/css" href="/static/css/960css/code/css/reset.css" rel="stylesheet" />
    <!-- SimpleModal and jqTransform -->
    <link href="/static/css/SimpleModal/basic.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="modal"></div>
{% include "header.html" %}
</br></br>
<section id="mainContent">
center content
</div>
</br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br>
{% include "footer.html" %}
</body>
</html>
