<div class="container_24">
    <div class="grid_4">
        Login:<input id="username" type="text"/>
        Password:<input id="password" type="password"/>
        <input id="loginbtn" type="button" value="Login"/>
    </div>
    <div class="clear"/>
    <div class="grid_4">
        <a id="signuplink" href="">Sign Up Now</a>
    </div>
    <div class="clear"/>
</div>
