<div class="container_24">
    <div class="grid_4">
        Nick:<input id="signup_nickname" type="text"/>
        Login:<input id="signup_username" type="text"/>
        Password:<input id="signup_password" type="password"/>
        
        <input type="checkbox" name="optiontype" value="option-A">Option A</br>
		<input type="checkbox" name="optiontype" value="option-B">Option B</br>
 
        <input id="signupbtn" type="button" value="Sign up"/>
    </div>
    <div class="clear"/>
    <div class="grid_4">
        <a id="loginlink" href="/">Login</a>
    </div>
    <div class="clear"/>
</div>
